body {
    background-color: rgb(184, 248, 132);
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);    /* 10 columns of auto-fitted size */
    grid-template-rows: repeat(10, 50px);
    gap: 0px;
    margin-top: 15px;
}

.grid-item {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;    /* aligns the whole grid within its container */
    align-items: center;        /* VERTICALLY aligns the whole grid within its container */
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25;
}

.grid-item-light {
    background-color: yellowgreen;
}

.grid-item-dark {
    background-color: rgb(122, 168, 28);
}

.revealed {
    cursor: default;
}

@keyframes scaleUpAndDownAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.animated-image {
    animation: scaleUpAndDownAnimation 2s infinite; /* 2s duration, infinite loop */
}

@keyframes explodeAnimation {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.2);
    }
}

#title-explosion {
    animation: explodeAnimation 2s;
}

#timer {
    font-size: 24px;
    margin-bottom: 10px;
}

#game-to-home-btn {
    margin-top: 0px;
    margin-left: 0px;
}

#win-lose-text {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin-left: 50px;
}

#score-text {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    margin-right: 50px;
}

.game-over-text {
    position: absolute;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#game-screen img {
    margin-top: -20px;
}
