@font-face {
    font-family: 'Upheaval';
    src: url('font/UpheavalPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(191, 252, 135);
    font-family: Upheaval, OCR A Std, monospace;
    font-size: 25px;
    color: #5c1e1c;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden {
    display: none;
}

button {
    background-color: #d16630;
    font-family: Upheaval, OCR A Std, monospace;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    color: #5c1e1c;
    border: 3px solid #5c1e1c;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);    /* 10 columns of auto-fitted size */
    grid-template-rows: repeat(10, 50px);
    gap: 0px;
    margin-top: 10px;
}

.grid-item {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;    /* aligns the whole grid within its container */
    align-items: center;        /* VERTICALLY aligns the whole grid within its container */
    cursor: pointer;
    font-family: Upheaval, OCR A Std, monospace;
    font-size: 25;
}

.grid-item-light {
    background-color: yellowgreen;
}

.grid-item-dark {
    background-color: rgb(122, 168, 28);
}

.revealed {
    cursor: default;
}

@keyframes scaleUpAndDownAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

.animated-image {
    animation: scaleUpAndDownAnimation 2s infinite; /* 2s duration, infinite loop */
}

@keyframes explodeAnimation {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.2);
    }
}

.explosion {
    position: absolute;
    animation: scaleUpAndDownAnimation 1s;
    width: 51px;
    height: 51px;
}

#start-screen-buttons {
    margin-top: 5px;
}

#title-explosion {
    animation: explodeAnimation 2s;
}

#timer {
    margin-top: 5px;
    font-size: 24px;
    margin-bottom: 10px;
    color: #5c1e1c;
    font-family: Upheaval, OCR A Std, monospace;
}

#game-to-home-btn {
    position: absolute;
    top: 10px;
    left: 10px;
}

#win-lose-section {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-family: Upheaval, OCR A Std, monospace;
    color: #5c3b1c;
    text-align: left;
}

#win-lose-image {
    margin-top: 20px;
    width: 250px;
}

#play-again-btn {
    position: absolute;
    top: 50%;
    right: 75px;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
}

#game-screen img {
    margin-top: -20px;
}

#rules-to-home-btn {
    margin-top: 15px;
}
